/** portal::index **/
.xinyun_oneleft_boxone{padding:0px 0 0 3px;width:955px;height:287px;border:1px solid #CCCCCC;overflow:hidden;}
.xinyun_title{background:url({STYLEIMGDIR}/titlebg.png) repeat-x;height:43px;overflow:hidden;line-height:38px;text-indent:10px;color:#333333;font-size:14px;}
.xinyun_photo{border:1px solid #CCCCCC; height:500px}
.xinyun_link{border:1px solid #CCCCCC; }
.xinyun_photo img{ border:1px solid #dfdfdf; padding:2px}
.xinyun_photo li{margin:0px; padding:0px 8px;_padding:0px 5px;}


.dxb_bc{
    width: 945px;
    float: left;
}
.diy_ul{
    padding: 0 15px;
    border: 1px solid #eee;
}
.diy_li{   
    height: 145px;
    padding: 15px 0;
        
}
.diy_li_a{
    box-sizing: border-box;
    display: block;
    float: left;
    margin-right: 15px;
    color: #333;
}
.diy_li_img{
    width:131px;
    height:131px;
    display: block;
    float: left;
}
.diy_li_div{
    float: left;
    width: 720px;
    height:131px;
    box-sizing: border-box;
}
.div_li_h4{
    margin: initial;
    height: 20px;
    padding-bottom: 10px;
}
.diy_li_span{
    float: right;
}
.div_li_p{
    margin: auto;
    line-height: 22px;
    box-sizing: border-box;
}

/** end **/
